/* reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* reset END */

/* ------------------------------------------------------------------ */

/* font-face */

/* open-sans-regular - latin-ext_latin_cyrillic-ext_cyrillic */

@font-face {
	font-family: opensans;
  font-style: normal;
  font-weight: 400;
  src: url("../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src:
		local(""),
		url("../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), /* Super Modern Browsers */
		url("../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), /* Modern Browsers */
		url("../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* open-sans-700 - latin-ext_latin_cyrillic-ext_cyrillic */

@font-face {
	font-family: opensans;
	font-style: normal;
	font-weight: 700;
	src: url("../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
	src:
		local(""),
		url("../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), /* Super Modern Browsers */
		url("../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-700.woff") format("woff"), /* Modern Browsers */
		url("../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* neucha-regular - latin_cyrillic */

@font-face {
	font-family: neucha;
	font-style: normal;
	font-weight: 400;
	src: url("../styles/fonts/neucha-v17-latin_cyrillic/neucha-v17-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
	src:
		local(""),
		url("../styles/fonts/neucha-v17-latin_cyrillic/neucha-v17-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../styles/fonts/neucha-v17-latin_cyrillic/neucha-v17-latin_cyrillic-regular.woff2") format("woff2"), /* Super Modern Browsers */
		url("../styles/fonts/neucha-v17-latin_cyrillic/neucha-v17-latin_cyrillic-regular.woff") format("woff"), /* Modern Browsers */
		url("../styles/fonts/neucha-v17-latin_cyrillic/neucha-v17-latin_cyrillic-regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../styles/fonts/neucha-v17-latin_cyrillic/neucha-v17-latin_cyrillic-regular.svg#Neucha") format("svg"); /* Legacy iOS */
}

/* font-face END */

/* ---------------------------------------------------------------------- */

/* vars */
:root {
	--dark: #2a2626;
	--white: #fff;
	--transparent-white: #d7ccc0;
	--light: #f5f4f0;
	--main: #fe8a02;
	--main-dark: #42413c;
	--transparent-dark: #908d8b;
	--brown: #b09a81;
	--blue: #1085c5;
}

/* vars END */

/* --------------------------------------------------------------------------- */

/* tag styles */

body {
	display: flex;
	flex-direction: column;

	font-family: opensans, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6em;
	color: #2a2626;
}

div .header-img {
	position: absolute;
	top: -50px;
	left: 300px;
}

h1,
h2,
h3 {
	font-family: neucha, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2em;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 34px;
}

input::placeholder {
	opacity: 0.2;
}

/* tag-styles END */

/* ------------------------------------------------------------------------- */

/* b */
.bg-blue {
	background-color: var(--blue);
}

.bg-brown {
	background-color: var(--brown);
}

.bg-dark {
	background-color: var(--dark);
}

.bg-image::before {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

	background-image: url("../styles/images/background.png");
	background-repeat: no-repeat;
	background-size: cover;

	opacity: 0.1;

	content: "";

	z-index: 10000;
}

.bg-light {
	background-color: var(--light);
}

.bg-main {
	background-color: var(--main);
}

.bg-main-dark {
	background-color: var(--main-dark);
}

.bg-transparent-dark {
	background-color: var(--transparent-dark);
}

.bg-transparent-white {
	background-color: var(--transparent-white);
}

.bg-white {
	background-color: var(--white);
}

.border-reset {
	border: 0;
}

.bottom-move-100 {
	bottom: -100px;
}

.btn {
	padding: 12px 24px;
	font-weight: 700;
}

.btn-anchor {
	color: inherit;
	text-decoration: none;
}

.btn-orange {
	background-color: #fe8a02;
}

.btn-send {
	position: relative;
	top: 0;
	width: 70px;
}

.btn-send:hover {
	cursor: pointer;
}

.btn-send::before {
	position: absolute;
	top: 15px;
	left: 25px;
	width: 20px;
	height: 20px;

	background: url("../styles/images/send.svg") no-repeat center center/cover;

	content: "";
}

/* b END */

/* ----------------------------------------------------------------------- */

/* c */
.card-select:hover {
	background-color: var(--main);
	color: var(--white);
}

.card-select:hover h2,
.card-select:hover h3 {
	background-color: var(--main);
	color: var(--white);
}

/* c END */

/* ----------------------------------------------------------------------- */

/* d */
.display-flex {
	display: flex;
}

/* d END */

/* ---------------------------------------------------------------------------- */

/* f */

.filter {
	filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 15%));
}

.flex-basis-423 {
	flex-basis: 423px;
}

.flex-basis-540 {
	flex-basis: 540px;
}

.flex-column {
	flex-direction: column;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-x-center {
	justify-content: center;
}

.flex-y-center {
	align-items: center;
}

.font-neucha-normal {
	font-family: neucha, sans-serif;
	font-style: normal;
	font-weight: 400;
}

.font-opensans-bold {
	font-family: opensans, sans-serif;
	font-style: normal;
	font-weight: 700;
}

.form-reset {
	border: 0;
}

.font-size-12 {
	font-size: 12px;
}

.font-size-14 {
		font-size: 14px;
}

.font-size-18 {
	font-size: 18px;
}

.font-size-24 {
	font-size: 24px;
}

.font-size-34 {
	font-size: 34px;
}

.font-size-52 {
	font-size: 52px;
}

.font-size-64 {
	font-size: 64px;
}

/* f END */

/* ---------------------------------------------------------------------------- */

/* h */

.height-50 {
	height: 50px;
}

.height-190 {
	height: 190px;
}

.height-525 {
	height: 525px;
}

/* h END */

/* ---------------------------------------------------------------------------- */

/* l */

.line-height-1 {
	line-height: 1;
}

/* l END */

/* ---------------------------------------------------------------------------- */

/* m */

.margin-bottom-9 {
	margin-bottom: 9px;
}

.margin-bottom-16 {
	margin-bottom: 16px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.margin-bottom-222 {
	margin-bottom: 180px;
}

.margin-left-30 {
	margin-left: 30px;
}

.margin-right-30 {
	margin-right: 30px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-60 {
	margin-top: 60px;
}

.margin-top-100 {
	margin-top: 100px;
}

/* m END */

/* ---------------------------------------------------------------------------- */

/* p */

.padding-15 {
	padding: 15px;
}

.padding-24 {
	padding: 24px;
}

.padding-100-0 {
	padding: 100px 0;
}

.padding-bottom-5 {
	padding-bottom: 5px;
}

.padding-bottom-16 {
	padding-bottom: 16px;
}

.padding-bottom-30 {
	padding-bottom: 30px;
}

.padding-bottom-40 {
	padding-bottom: 40px;
}

.padding-bottom-55 {
	padding-bottom: 55px;
}

.padding-left-10 {
	padding-left: 10px;
}

.padding-left-55 {
	padding-left: 55px;
}

.padding-top-5 {
	padding-top: 5px;
}

.padding-top-55 {
	padding-top: 55px;
}

.padding-top-100 {
	padding-top: 100px;
}

.pos-absolute {
	position: absolute;
}

.pos-relative {
	position: relative;
}

/* p END */

/* ---------------------------------------------------------------------------- */

/* t */

.text-brown {
	color: var(--brown);
}

.text-center {
	text-align: center;
}

.text-main {
	color: var(--main);
}

.text-main-dark {
	color: var(--main-dark);
}

.text-transparent-dark {
	color: var(--transparent-dark);
}

.text-transparent-white {
	color: var(--transparent-white);
}

.text-upper {
	text-transform: uppercase;
}

.text-vertical-center {
	vertical-align: middle;
}

.text-white {
	color: var(--white);
}

.transition-05 {
	transition: 2s;
}

/* t END */

/* ---------------------------------------------------------------------------- */

/* w */

.width-100-proc {
	width: 100vw;
}

.width-148 {
	width: 148px;
}

.width-350 {
	width: 350px;
}

.width-1110 {
	width: 1110px;
}

/* w END */

/* ---------------------------------------------------------------------------- */

/* z */

.z-index-10100 {
	position: relative;
	z-index: 10100;
}

/* z END */
