/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* open-sans-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: opensans;
  font-style: normal;
  font-weight: 400;
  src: url('../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: opensans;
  font-style: normal;
  font-weight: 700;
  src: url('../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../styles/fonts/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic/open-sans-v34-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* neucha-regular - latin_cyrillic */
@font-face {
  font-family: neucha;
  font-style: normal;
  font-weight: 400;
  src: url('../styles/fonts/neucha-v17-latin_cyrillic/neucha-v17-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../styles/fonts/neucha-v17-latin_cyrillic/neucha-v17-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../styles/fonts/neucha-v17-latin_cyrillic/neucha-v17-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../styles/fonts/neucha-v17-latin_cyrillic/neucha-v17-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../styles/fonts/neucha-v17-latin_cyrillic/neucha-v17-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../styles/fonts/neucha-v17-latin_cyrillic/neucha-v17-latin_cyrillic-regular.svg#Neucha') format('svg'); /* Legacy iOS */
}

body {
  display: flex;
  flex-direction: column;

  font-family: opensans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
}

h1,
h2,
h3 {
  font-family: neucha, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.bg-white {
  background-color: #fff;
}

.bg-transparent-white {
  background-color: #d7ccc0;
}

.bg-light {
  background-color: #f5f4f0;
}

.bg-main {
  background-color: #fe8a02;
}

.bg-main-dark {
  background-color: #42413c;
}

.bg-dark {
  background-color: #2a2626;
}

.bg-transparent-dark {
  background-color: #908d8b;
}

.bg-brown {
  background-color: #b09a81;
}

.bg-blue {
  background-color: #1085c5;
}

.bg-image::before {
  position: absolute;
	top: 0;
  width: 100%;
  height: 100%;

  background-image: url('../styles/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";

  z-index: 10000;
}

.bg-orange {
  background-color: #fe8a02;
}

.border-reset {
	border: 0;
}

.bottom-move-100 {
  bottom: -100px;
}

.btn {
  padding: 12px 24px;

  font-weight: 700;
}

.btn-anchor {
  color: inherit;
  text-decoration: none;
}

.btn-orange {
  background-color: #fe8a02;
}

.btn-send {
	position: relative;
	top: 0;
	width: 70px;
}

.btn-send:hover {
	cursor: pointer;
}

.btn-send::before {
	position: absolute;
	top: 15px;
	left: 25px;
	width: 20px;
	height: 20px;

	background: url('../styles/images/send.svg') no-repeat center center/cover;

	content: "";
}

.card-select:hover h2,
.card-select:hover h3 {
	background-color: #fe8a02;
	color: #fff
}

.column-2-30 {
  column-count: 2;
  column-gap: 30px;
}

.column-2-122 {
  column-count: 2;
  column-gap: 122px;
}

.column-span {
	column-span: all;
}

.display-flex {
  display: flex;
}

.display-block {
	display: block;
}

.filter {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.flex-x-center {
  justify-content: center;
}

.flex-x-space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-basis-62 {
	flex-basis: 62px;
}

.flex-basis-540 {
	flex-basis: 540px;
}

.flex-basis-423 {
	flex-basis: 423px;
}

.flex-y-center {
  align-items: center;
}

.flex-y-end {
  align-items: flex-end;
}

.flex-y-start {
  align-items: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.float-right {
	float: right;
}

.font-neucha-normal {
    font-family: neucha, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.font-opensans-bold {
    font-family: opensans, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-34 {
  font-size: 34px;
}

.font-size-52 {
  font-size: 52px;
}

.font-size-64 {
  font-size: 64px;
}

.form-reset {
	border: 0;
}

.height-49 {
  height: 49px;
}

.height-50 {
  height: 50px;
}

.heigth-80 {
	height: 80px;
}

.height-190 {
	height: 190px;
}

.height-323 {
  height: 347px;
}

.height-525 {
  height: 525px;
}

div .header-img {
  position: absolute;
  top: -50px;
	left: 300px;
}

.line-height-1 {
  line-height: 1;
}

.margin-0 {
  margin: 0;
}

.margin-bottom-9 {
	margin-bottom: 9px;
}

.margin-bottom-16 {
	margin-bottom: 16px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-222 {
	margin-bottom: 180px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-top-0 {
	margin-top: 0;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-100 {
	margin-top: 100px;
}

.max-width-100-proc {
	max-width: 100%;
}

.nav-card-style {
  width: 350px;
  padding: 24px;
}

input::placeholder {
	opacity: 0.2;
}

.padding-0 {
  padding: 0;
}

.padding-15 {
	padding: 15px;
}

.padding-24 {
  padding: 24px;
}

.padding-100-0 {
  padding: 100px 0;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-bottom-16 {
  padding-bottom: 16px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-bottom-55 {
  padding-bottom: 55px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-55 {
  padding-left: 55px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-top-55 {
  padding-top: 55px;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.text-brown {
	color: #b09a81;
}

.text-main-dark {
  color: #42413c;
}

.text-transparent-dark {
  color: #908d8b;
}

.text-transparent-white {
	color: #d7ccc0;
}

.text-orange {
  color: #fe8a02;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-vertical-center {
  vertical-align: middle;
}

.text-left {
  text-align: left;
}

.text-upper {
  text-transform: uppercase;
}

.width-148 {
  width: 148px;
}

.width-100-proc {
  width: 100vw;
}

.width-350 {
  width: 350px;
}

.width-1110 {
  width: 1110px;
}

.z-index-10100 {
  position: relative;
  z-index: 10100;
}

.z-index-10200 {
  position: relative;
  z-index: 10200;
}

.card-select:hover {
	background-color: #fe8a02;
	color: #fff
}
